@font-face {
	font-family: BlessedDay;
	src: url('/fonts/BLESD___.otf') format('opentype');
}

.logo-lg{
   font-family: 'BlessedDay';
   font-size: 50px;
   vertical-align: middle;
}
.logo-sm{
   font-family: 'BlessedDay';
   font-size: 30px;
   vertical-align: middle;
}