body{
    font-family: 'roboto-condensed', sans-serif,Arial;
    font-size: 14px;
}
@font-face {
	font-family: BlessedDay;
	src: url('/fonts/blessed.otf') format('opentype'), url('/fonts/blessed.woff') format('woff');
}

.logo-lg{
   font-family: 'BlessedDay';
   font-size: 50px;
   vertical-align: middle;
}
.logo-sm{
   font-family: 'BlessedDay';
   font-size: 30px;
   vertical-align: middle;
}